@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    
    
}
.container{
    width: 400px;
    margin-left: 20px;
    background-color: rgb(233, 230, 230);
    padding: 20px;
}
.basliq{
    color: blue;
    text-decoration: underline;
    font-weight: 600;
    
}
table{
    font-weight: 700;
    padding: 20px 30px;
    font-size: 12px;
}
td{
    border-bottom: 1px solid black;
    padding: 5px 10px;
    
    margin: 0px;
}
tr{
    margin: 0px;
    
}

