<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="task2.css">
</head>
<body>
    <div class="container">
        <h1>IA «Panorama» informs
        </h1>
        <table>
            <tbody>
                <tr>
                    <td>20 Dec 2020</td>
                    <td class="basliq">Ulan-Ude police stopped an unauthorized game of football with Lenin's «head»
                    </td>
                </tr>
                <tr>
                    <td>19 Dec 2020</td>
                    <td class="basliq">Participants of the show «Dom-2» declared themselves defrauded by real estate investors
                    </td>
                </tr>
                
                <tr>
                    <td>12 Dec 2020
                    </td>
                    <td class="basliq">Polish launch vehicle exploded after hitting the firmament
                    </td>
                </tr>
                
                <tr>
                    <td>09 Dec 2020
                    </td>
                    <td class="basliq">As part of the program for the colonization of the moon, Roskosmos will build a general regime colony on the satellite </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>