.goods-item {
    font-family: sans-serif;
    background-color: #ba99e4;
    padding: 50px;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 50px;
  
}
.goods{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    
      
      
  }
*{
      margin: 0px;
      padding: 0px;
  }