div{
    background-color: blueviolet;
    border-radius: 10px;
    width: 330px;
    height: 200px;
}
img{
    width: 50px;
    height: 50px;
    margin-top: 38px;
    margin-left: 7px;
}
p{
    margin: 0px 10px;
    color: white;
    
}
.number{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.name{
    font-size: 20px;
    padding-bottom: 15px;
    font-family: monospace;
    font-weight: 600;

}
.valid{
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.date{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}